body{
    background: rgb(76,0,255);
    background: radial-gradient(circle, rgba(76,0,255,1) 0%, rgba(255,59,218,1) 14%, rgba(9,198,190,1) 100%);
    background-position: center;
    background-size: cover;
    height: 100vh;
}

P{
    padding: 8px;
}
